section{
    margin-top: 25px;
    border: solid olivedrab;
    background-color: beige;
}

#floating-block{
    border:solid indianred;
    background-color: burlywood;
    float: right;

    height:200px;
    width: 200px;
}

#none-floating-block {
    border:solid indianred;
    background-color: burlywood;

    height:200px;
    width: 200px;
    margin: 0 auto;
}

#block-after-float {
    height:80px;
}

#block-after-float-with-clear {
    clear: both;
    height: 60px;
}


.overflow-floating-block {
    border:solid indianred;
    background-color: burlywood;
    float: left;

    height:200px;
    width: 200px
}

#block-after-float-with-clearfix {
    overflow: auto;
}